
/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: lightgray;
    margin: 0;
    padding: 0;
}

/* Page header styles */
h1 {
    text-align: center;
    background-color: darkgreen;
    color: beige;
    padding: 20px; /* Increase the padding for a taller header */
    margin: 0 auto; /* Center the header horizontally and don't span the entire page width */
    width: 50%; /* Set a specific width for the header */
    top: 0; /* Position the header at the top of the viewport */
    left: 25%; /* Adjust the left position for centering */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add a shadow to make it stand out */
}

/* Form styles */
#habit-form {
    text-align: center;
    margin: 20px;
    padding: 10px;
    background-color: lightgray;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#create-habit-section {
    display: block;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="text"] {
    width: 100%;
    padding: 5px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: darkgreen;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: black;
}

/* Logged habits list styles */
h2 {
    text-align: left;
    margin: 20px 0;
}

#habit-list {
    list-style: none;
    padding: 0;
}

#habit-list li {
    background-color: grey;
    padding: 10px;
    margin: 5px;
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
